<h1>{{title}}</h1>
<p>Profile page or something.</p>
<p>
  Email: {{user.email}}
</p>

<h2>Your subscribed shops</h2>
<form action="/shop" method="post">
  <input type="text" name="shopName" value="">
  <button type="submit">Add shop</button>
</form>
